div.div.div__recWrap.recordWrapper{
  background: white;
  background: url(./../../../assets/Images/moonBg.webp);
  width:400px;
  height:400px;
  box-shadow: 2px 2px 5px darkgrey;
  position:absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
}
.div_recordTxtDisp{
  width:40%;
  position: relative;
  left:50%;
  height:74px;
  transform: translate(-50%);
  text-align:center;
}
.div__recCont{
  width: 60px;
  height:60px;
  background-color: white;
  position: relative;
  left:50%;
  top:30px;
  transform: translate(-50%,-50%);
  border-radius:50%;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);;
  transition:.5s;
}
.div__recCont:hover{
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}
#recrdButton{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  border-radius:50%;
  background:linear-gradient(0deg,#fff,#ddd);
  width: 50px;
  height:50px;
  border:none;
  text-align: center;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
  transition:.5s;
}
#recrdButton:hover{
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);

  border:none;
}
#recrdButton:active{
  border:none;
}
#recordStartIcon,#recordStopIcon{
  font-size: 40px;
  box-sizing: content-box;

  line-height: 50px;

}
#recordStartIcon{
  padding:5px 5px 5px 5px;
  line-height: 40px;
  color:rgb(0, 119, 255);
}
#recordStopIcon{
  color:rgb(255, 0, 0);
}
#recTim{
  color:black;
  font-size:22px;
  font-family: 'Russo One', sans-serif;

}
#recTxt{
  color:rgb(130 255 115);
  text-shadow: 4px 4px 2px black;
  font-family: 'Russo One', sans-serif;
  letter-spacing:4px;
  border: 0 0 2px 1px solid greenyellow;
  /* border:2px solid grey; */
  /* box-shadow:2px 2px 5px grey; */
  margin:0;
}
.div__audioGallery{
  text-align: center;
  overflow: scroll;
  max-height: 253px;
}


#recClose{
  position: absolute;
  right:0;
  top:0;
  font-size:20px;
  color:white;
  background-image: linear-gradient(rgb(255, 94, 1),rgb(255, 0, 0));
  letter-spacing: 2px;
  border:2px solid black;
  box-shadow: 2px 2px 5px black;
}
#recClose:hover{

  box-shadow:none;
}
